
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .pagination a {
        margin: 5px; 
        padding: 10px;
        border: 1px solid #3366CC; 
        border-radius: 5px;
        background-color: #3366CC; 
        color: #fff; 
        text-decoration: none;
    }

        .pagination a:hover {
            background-color: #3E77ED; 
        }

.restore-button {
    margin-top: 10px;
    padding: 5px 15px; 
    border: none; 
    border-radius: 50px;
    background-color: #3366CC; 
    color: #fff; 
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}


